.counter {
    $root: &;
}
body {background-color: #F4F5F9;}
.container {
  position: relative;
  width: 1400px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  min-width: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {font-size: 36px;}
  .result {
    margin-top: 71px;
    margin-bottom: 108px;
    font-size: 128px;
  }
  .open {
    width: 152px;
    height: 63px;
    background-color: #3877EE;
    color: #fff;
    font-size: 16px;
    border-radius: 30px;
    &:hover {background-color: #2c60c1;}
  }
}
.active {transform: scale(1) !important;}
.swiper-container {
  width: 1400px;
  height: 100%;
  position: absolute;
  background-color: #F4F5F9;
  transition: .3s;
  top: 0;
  left: 0;
  transform: scale(0);
  display: flex;
  flex-direction: column;
  .close {
    width: 147px;
    height: 63px;
    border-radius: 30px;
    font-size: 16px;
    margin: 32px auto 0 auto;
    background-color: #3877EE;
    color: #fff;
    &:hover {background-color: #2c60c1;}
  }
  .nav {
    width: 289px;
    height: 56px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    .res {
      width: 56px;
      height: 100%;
      border-radius: 50%;
      font-size: 20px;
      color: #303E58;
      border: 2px solid #303E58;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
    button {
      width: 41px;
      height: 41px;
      border-radius: 50%;
      background-color: #3877EE;
      color: #fff;
    }
  }
  .swiper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .swiper-slide {
      font-size: 48px;
      font-weight: 600;
      text-align: center;
      user-select: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .swiper-wrapper {
      width: 900px;
      height: 500px;
      margin: 0 auto;
      display: flex;
    }

    .swiper-button-next {
      display: flex;
      z-index: 101;
      cursor: pointer;
      width: 60px;
      height: 60px;
      background-color: #fff;
      border-radius: 50%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      svg {
        width: 12.5%;
        height: 25%;
      }
    }
    .swiper-button-prev {
      display: flex;
      z-index: 101;
      cursor: pointer;
      width: 60px;
      height: 60px;
      background-color: #fff;
      border-radius: 50%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: rotate(180deg);
      svg {
        width: 12.5%;
        height: 25%;
      }
    }
  }
}